.error-message-container{
  position: fixed;
  right: 25px;
  bottom: 10px;
  z-index: 1000000;
}
.error-message-box{
  position: relative;
  background: red;
  border-radius: 10px;
  color: white;
  opacity: .6;
  transition: opacity .3s ease-out;
  font-size: 12px;
  padding: 9px 30px;
  margin-top: 10px;
}
.error-message-box.warn{
  background: #fff240;
}
.box-text{
  text-shadow: 1px 1px 1px black;
}
.error-message-box:hover{
  opacity: .9;
}

.close-btn{
  color: white;
  cursor: pointer;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px;
  border-radius: 3px;
  text-align: center;
  opacity: .6;
}
.close-btn:hover{
  opacity: 1;
}

.error-message-box.animated {
  animation: go-bottom-top .6s;
  -webkit-animation: go-bottom-top .6s;
}

/* Современные браузеры, кроме Chrome, Opera, Safari */
@keyframes go-bottom-top {
  from {
    bottom: -100%;
  }
  to {
    bottom: 10px;
  }
}

/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes go-bottom-top {
  from {
    bottom: -100%;
  }
  to {
    bottom: 10px;
  }
}